@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#F8F4EF;
    color:#3B322F;
    font-family:'Inter',sans-serif;
    overflow-x:hidden;
}

h1,h2,h3,h4,h5{
    font-family:'Cormorant Garamond',serif;
}

a{
    text-decoration:none;
    color:inherit;
}

img{
    display:block;
    max-width:100%;
}

::selection{
    background:#7E2F2F;
    color:white;
}